header{
    background-color: blue;
}

a1 {
    text-align: center;
    background-color: blue;
    color: black;
    font: bold;
    font-size: 56px;
}

body {
    text-align: center;
    background-color: white;
}

.button {
    text-align: center;
    font: italic;
    color: aqua;
    background-color: blue;
    border: 1px solid black;
}